v06/Debug/
v06/Release/
Documents/04751704.pdf
Documents/06600918.pdf
Documents/LeCoz2.pdf
Documents/smpt13.pdf
sigfill_chunk_x.mag
v06/v06.opensdf
v06/v06.sdf
v06/v06.vcxproj
v06/v06.vcxproj.filters
v06/x64/Release/v06.tlog/v06.lastbuildstate
v06/x64/Release/v06.tlog/link.write.1.tlog
v06/x64/Release/v06.tlog/link.read.1.tlog
v06/x64/Release/v06.tlog/link.command.1.tlog
v06/x64/Release/v06.tlog/cl.command.1.tlog
v06/x64/Release/v06.tlog/CL.write.1.tlog
v06/x64/Release/v06.tlog/CL.read.1.tlog
sigfill_chunk_x.gk
*.sdf
